<%= javascript_include_tag 'rails_admin_charts/application' %>
<% @abstract_model.model.charts_count.times do |i| %>
  <div id='growth_rate_#{<%= i %>}' style="min-width: 400px; height: 400px;">
    <%=raw render 'chart', locals: {chart: i} %>
  </div>
<% end %>
